<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Listado de Autorizaciones de su clase</h1>
<ul>
    <table border="2"> 
        <tr>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>FP</td>
            <td>Autorización</td>
        </tr>
        {{#each alumnos as | alumno |}}
        <tr>
            <td width="150">{{alumno.firstName}}</td>
            <td width="150">{{alumno.lastName}}</td>
            <td width="150">{{alumno.disciplina.nombre}}</td>
            <td width="200">{{#if alumno.autorizacion_datos}} Si {{else}} No {{/if}}</td>
        </tr>
        {{/each}}    
    </table>

</ul>
</div>

</body>
</html>

