<!-- Content page -->
<div class="container-fluid">
    <div class="page-header">
        <h1 class="text-titles">Usuarios<small>-Registados en el sistema</small></h1>
    </div>
</div>
<div class="full-box text-center" style="padding: 30px 10px;">
    <article class="full-box tile">
        <div class="full-box tile-title text-center text-titles text-uppercase">
            administradores
        </div>
        <div class="full-box tile-icon text-center">
            <i class="zmdi zmdi-account"></i>
        </div>
        <div class="full-box tile-number text-titles">
            <p class="full-box">2</p>
            <small>Registrados</small>
        </div>
    </article>
    <article class="full-box tile">
        <div class="full-box tile-title text-center text-titles text-uppercase">
            Profesores
        </div>
        <div class="full-box tile-icon text-center">
            <i class="zmdi zmdi-male-alt"></i>
        </div>
        <div class="full-box tile-number text-titles">
            <p class="full-box"></p>
            <small>Registrados</small>
        </div>
    </article>
    <article class="full-box tile">
        <div class="full-box tile-title text-center text-titles text-uppercase">
            Estudiantes
        </div>
        <div class="full-box tile-icon text-center">
            <i class="zmdi zmdi-face"></i>
        </div>
        <div class="full-box tile-number text-titles">
            <p class="full-box"></p>
            <small>Registrados</small>
        </div>
    </article>

</div>
<div class="container-fluid">
    <div class="page-header">
        <h1 class="text-titles">Usuarios <small>últimos conectados</small></h1>
    </div>
    <div id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <img src="" alt="user-picture">
            </div>
            <div class="cd-timeline-content">
                <h4 class="text-center text-titles">1 -Andrea (Admin)</h4>
                <p class="text-center">
                    <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Inicio: <em>11:00 AM</em> &nbsp;&nbsp;&nbsp;
                    <i class="zmdi zmdi-time zmdi-hc-fw"></i> Fín: <em>12:17 AM</em>
                </p>
                <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 25/03/2022</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <img src="" alt="user-picture">
            </div>
            <div class="cd-timeline-content">
                <h4 class="text-center text-titles">2 - Jose (Admin)</h4>
                <p class="text-center">
                    <i class="zmdi zmdi-timer zmdi-hc-fw"></i> Inicio: <em>10:00 AM</em> &nbsp;&nbsp;&nbsp;
                    <i class="zmdi zmdi-time zmdi-hc-fw"></i> Fin: <em>10:05 AM</em>
                </p>
                <span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> 25/03/2022</span>
            </div>
        </div>
    </div>
</section>