<!-- Content pagina -->
<div class="container-fluid">
  <div class="page-header">
    <h1 class="text-titles"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i>Modificacion<small>de FCT</small></h1>
  </div>
  <p class="lead">Rellenando el siguiente formulario podremos modificar una FCT de un alumno de 2ºFP
   Este proceso solo podrá realizarlo el administrador.</p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active"><a href="/registrar_FCT">Nuevo</a></li>
        <li><a href="/alumnos_FCT">Listado de Alumnos en FCT</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="new">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <form method="post">
                   <input type="hidden" name="_method" value="PUT">
                   <div class="form-group">
					      <label class="control-label">Seleccione un Alumno de 2ºFP</label>
					      <select class="form-control" name="alumno" id="alumno">
                    <option selected disabled>---</option>
                     </select>
                  </div>
                  <div class="form-group">
					      <label  class="control-label">Elija su empresa</label>
					      <select class="form-control" name="empresa" id="empresa" >
                          {{#each empresas as | Empresas |}}
                          <option value="{{Empresas._id}}"> {{Empresas.name}} </option>
                          {{/each}}
                     </select>
                  </div>
                  <div class="form-group">
					      <label class="control-label">Elija el profesor que hara de tutor</label>
					      <select class="form-control" name="tutor" id="tutor" >
                    <option selected disabled>---</option>
                     </select>
                  </div>
                  <div class="form-group label-floating">
                    <label class="control-label">Tutor laboral en la empresa</label>
                    <input class="form-control" name="tutor_laboral" id="tutor_laboral" type="text" />
                  </div>
				      <div class="form-group label-floating">
					          <label class="control-label">Trimestre en el que se realizaran las practicas (1,2,3)</label>
				          <input type="number" class="number" name="trimestre" id="trimestre" min="1", max="3"/>
					    </div>
            
              <div class="form-group label-floating">
					          <label class="control-label">Horas que realizara el alumno (6-8)</label>
				          <input type="number" class="number" name="horas" id="horas" min="6", max="8"/>
					    </div>
                  <div class="form-group label-floating">
                    <label>Inicio de las practicas</label>
                    <input class="form-control" name="fecha_inicio" type="date"/>
                  </div>
                  <div class="form-group label-floating">
                    <label>Final de las practicas</label>
                    <input class="form-control" name="fecha_final" type="date"/>
                  </div>
                  <p class="text-center">
                    <button class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i>Save</button>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
.number {width:400px; }
</style>

<!-- SCRIPT PARA PROFES FP -->

<script>

  (async () => {
    const profesFP = document.querySelector("#tutor");
    const responseProfesFP = await fetch('/profesFP');

            const profes_etapa_FP = await responseProfesFP.json();
            profes_etapa_FP.map(p => {
                let opt = document.createElement('option');
                opt.value = p._id;
                opt.innerText = p.firstName;
                profesFP.appendChild(opt);
            })

      console.log(profesFP);
  })()

</script>


<!--SCRIPT PARA PROFES ALUMNOS 2º FP-->

<script>

  (async () => {
    const alumnos2ºFP = document.querySelector("#alumno");
    const responseAlumnos2ºFP = await fetch('/alumnos2FP');

            const alumnos = await responseAlumnos2ºFP.json();
            alumnos.map(p => {
                let opt = document.createElement('option');
                opt.value = p._id;
                opt.innerText = p.firstName;
                alumnos2ºFP.appendChild(opt);
            })

      console.log(profesFP);
  })()

</script>