<h1>Listado de Autorizaciones de su clase</h1>
<ul>
{{#each alumnos as | alumno |}}
<li>
    <table border="2">
    <tr>
        <td width="150">Nombre: {{alumno.firstName}}</td>
        <td width="150">Apellidos: {{alumno.lastName}}</td>
        <td width="150"> Nombre de FP: {{alumno.disciplina.nombre}}</td>
        <td width="200"> Autorizacion de datos: {{alumno.autorizacion_datos}}</td>
    </tr>
    </table>
</li>

{{/each}}
</ul>

<a href="/download_autorizaciones"> <input type="button" value="descargar"/> </a> 