<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				ODINSON <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="" alt="">
					<figcaption class="text-center text-titles"></figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="#!">
							<i class="zmdi zmdi-settings"></i>
						</a>
					</li>
					<li>
						<a href="/logout" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="home.html">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Página principal
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Administración modulos <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="calendario.html"><i class="zmdi zmdi-timer zmdi-hc-fw"></i>Calendario</a>
						</li>
						<li>
							<a href="Horario.html"><i class="zmdi zmdi-timer zmdi-hc-fw"></i>Horario</a>
						</li>
						<li>
							<a href="unidades.html"><i class="zmdi zmdi-book zmdi-hc-fw"></i>Unidades didacticas</a>
						</li>
						<li>
							<a href="modulos.html"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i>Examenes y pruebas iniciales</a>
						</li>
						<li>
							<a href="FCT.html"><i class="zmdi zmdi-font zmdi-hc-fw"></i>FCT</a>
						</li>
						<li>
							<a href="notas.html"><i class="zmdi zmdi-font zmdi-hc-fw"></i>Notas</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Usuarios <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="administración.html"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Administración</a>
						</li>
						<li>
							<a href="profesores.html"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i>Profesores</a>
						</li>
						
						</ul>
							<a href="#!" class="btn-sideBar-SubMenu">
								<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Estudiantes <i class="zmdi zmdi-caret-down pull-right"></i>
							</a>
							<ul class="list-unstyled full-box">
						<li>
							<a href="ESO.html"><i class="zmdi zmdi-face zmdi-hc-fw"></i>E.S.O</a>
						</li>
						<li>
							<a href="bachillerato.html"><i class="zmdi zmdi-face zmdi-hc-fw"></i>bachillerato</a>
						</li>
						<li>
							<a href="ciclomedio.html"><i class="zmdi zmdi-face zmdi-hc-fw"></i>Ciclo fp medio</a>
						</li>
						<li>
							<a href="ciclosuperior.html"><i class="zmdi zmdi-face zmdi-hc-fw"></i>Ciclo fp superior</a>
						</li>
						<li>
							<a href="repetidores.html"><i class="zmdi zmdi-face zmdi-hc-fw"></i>Alumnos repetidores</a>
						</li>
						<li>
							<a href="alumnofct.html"><i class="zmdi zmdi-face zmdi-hc-fw"></i>Alumnos en FCT</a>
						</li>
					</ul>
					
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-card zmdi-hc-fw"></i> Registro <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="admin.html"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Registro Administración</a>
						</li>
						<li>
							<a href="registroest.html"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Registro estudiantes</a>
						</li>
						<li>
							<a href="registroprof.html"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Registro profesor</a>
						</li>
					</ul>
				</li>
				<li>
					
					<a href="fuentezuelas.html" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-shield-security zmdi-hc-fw"></i> I.E.S LAS FUENTEZUELAS<i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					
						<li>
							<a href="autorizaciones.html"><i class="zmdi zmdi-balance zmdi-hc-fw"></i>Autorizaciones centro</a>
						</li>
					
					</ul>
				</li>
			</ul>
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-Notifications-area">
						<i class="zmdi zmdi-notifications-none"></i>
						<span class="badge"></span>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>
    	{{{body}}}
	</section>
	<!-- Notificaciones -->
	<section class="full-box Notifications-area">
		<div class="full-box Notifications-bg btn-Notifications-area"></div>
		<div class="full-box Notifications-body">
			<div class="Notifications-body-title text-titles text-center">
				Notificaciones
			</div>

		</div>
	</section>

	<!-- Dialogo de ayuda-->
	<div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Ayuda</h4>
				</div>
				<div class="modal-body">
					<p>
						Eres más torpe que un gusano con guantes
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-raised" data-dismiss="modal"><i
							class="zmdi zmdi-thumb-up"></i> Ok</button>
				</div>
			</div>
		</div>
	</div>
	<!--====== Scripts -->
	<script src="./js/jquery-3.1.1.min.js"></script>
	<script src="./js/sweetalert2.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./js/material.min.js"></script>
	<script src="./js/ripples.min.js"></script>
	<script src="./js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="./js/main.js"></script>
	<script>
		$.material.init();
	</script>
</body>
</html>